/*Name*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
/*Edit*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONFIGURACIONES GLOBALES*/

/*---------------------------------------------*/

.logo:hover,
.nav-icons li:hover,
.user-profile img:hover,
.user-config img,
.config-edit{
    cursor: pointer;
}

body{
    background-color: #FAFAFA;
}

section{
    width: 56%;
    margin: 0 auto;
    height: max-content;
    background-color: #FAFAFA;
}

ul li{
    list-style: none;
}

input:focus{
    outline: none;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 54px;
    background-color: #FFF;
    border-bottom: 1px solid #DBDBDB;
    padding: 4px 0;
    z-index: 40;
}

.logo{
    width: 128px;
}
.p-search{
    width: 12px;
}

.nav-search{
    width: 283px;
    height: 100%;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    padding: 4px 0;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-search input{
    width: 46px;
    border: none;
    margin-left: 6px;
}

input::placeholder{
    color: #999999;
}

ul li img{
    width: 32px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-icons{
    width: 223px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-profile{
    border: 1px solid #000;
    border-radius: 50%;
}

.nav-icons li{
    margin: 0 5px;
}
.nav-icons li img{
    width: 24px;
}

.profile{
    position: relative;
    width: 100%;
    height: 41%;
}

.user{
    flex-basis: 100%;
    height: 40%;
    /* background-color: rgba(255, 99, 71, 0.479); */
    display: flex;
}

.user-profile{
    min-width: max-content;
    height: 100%;
    /* background-color: rgba(139, 69, 19, 0.5); */
    text-align: left;
    padding: 10px 0 0 5px;
}

.user-profile img{
    width: 154px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.user-name-res{
    display: none;
}

.user-name{
    position: relative;
    min-width: max-content;
    top: -40px;
    left: 175px;
}

.user-profile h4,
.user-profile p{
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}

.user-name h4{
    font-size: 1rem;
    margin-bottom: 5px;
}
.user-name p{
    font-size: 0.95rem;
}

.user-config{
    max-width: 90%;
    height: 100%;
    margin: 10px 0 10px 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-config-name{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    display: inline;
}

.user-config img{
    margin-left: 0px;
    width: 30px;
}

.config-edit{
    width: 123px;
    height: max-content;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    text-align: center;
    margin: 20px 15px;
    padding: 6px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.80rem;
}

.config-edit-res{
    display: none;
}


.states{
    min-width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: -20px 0 40px 0;
}

.states img{
    width: 68px;
    margin: 0 0 5px 2px;
    border-radius: 50%;
}

.numbers{
    position: relative;
    width: min-content;
    top: -65px;
    left: 160px;
    margin: 0;
    font-size: 0.84rem;
    /* text-align: center; */
}

.numbers ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numbers ul li{
    display: flex;
    margin: 0 15px;    
}

.numbers ul li span{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.numbers ul li p{
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}

.numbers-responsive{
    display: none;
}

.follow:hover{
    cursor: pointer;
}

.sections{
    height: max-content;
    width: 100%;
    padding: 7px 0 4px 0;
    margin-bottom: 5px;
    border-top: 1px solid #d6d6d6;
}

.sections ul li:nth-child(2){
    display: none;
}

.sections ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sections ul li{
    cursor: pointer;
    display: flex;
    margin: 0 40px;
    align-items: center;
}

.sections img{
    width: 18px;
}

.sections ul li p{
    margin-left: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}

.grey{
    color: #999999;
}

.pictures{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
}

.pictures img{
    width: 30%;
    height: 100%;
    margin: 10px;
}

.footer{
    max-width: 80vh;
    margin: 0 auto;
    color: #919191;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.footer ul li{
    margin: 0 10px;
}

.footer ul li img{
    width: 8px;
}

.footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer ul li img:hover{
    cursor: pointer;
}


@media screen and (max-width: 1226px){
    
    body{
        width: 100%;
    }

    section{
        width: 80%;
    }

    .sections img{
        width: 28px;
    }

    .section-name{
        display: none;
    }
    .pictures img{
        width: 32%;
        height: 100%;
        margin: 2px;
    }
    
}

@media screen and (max-width: 734px){
    
    section{
        width: 100%;
        /* height: max-content;
        background-color: #FAFAFA; */
    }

    nav{
        height: 52px;
    }

    .nav-search{
        width: 193px;
    }

    .profile{
        width: 100%;
        height: 41%;
        /* background-color: rgba(1, 129, 129, 0.322); */
    }

    .user{
        flex-basis: 80%;
        height: 40%;
        /* background-color: rgba(255, 99, 71, 0.479); */
        display: flex;
    }

    .user-profile{
        width: 20%;
        height: 100%;
        /* background-color: rgba(139, 69, 19, 0.5); */
        text-align: left;
        padding: 10px 0 0 10px;
    }

    .user-profile img{
        width: 90px;
        margin-bottom: 10px;
    }

    .user-profile h4,
    .user-profile p{
        font-size: 0.9rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left;
    }

    .user-name{
        display: none;
    }

    .user-name-res{
        position: relative;
        display: block;
        margin-bottom: 40px;
    }

    .user-config{
        display: block;
        width: auto;
        height: 100%;
        margin: 10px 0;
    }

    .user-config-name{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.7rem;
        display: inline;
    }

    .user-config img{
        margin-left: 10px;
        width: 30px;
    }

    .config-edit{
        display: none;
    }

    .config-edit-res{
        display: block;
        width: 80%;
        height: max-content;
        border: 1px solid #DBDBDB;
        border-radius: 4px;
        text-align: center;
        margin: 20px 0;
        padding: 6px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 0.80rem;
    }


    .states{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .states img{
        width: 68px;
        margin: 0 0 5px 2px;
        border-radius: 50%;
    }

    .numbers{
        display: none;
    }

    .numbers-responsive{
        display: block;
        width: 100%;
        height: 18%;
        /* background-color: rgba(65, 105, 225, 0.404); */
        margin-top: 10px;
        padding: 5px 0;
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
        text-align: center;
    }

    .numbers-responsive ul{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .numbers-responsive span{
        font-weight: bold;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }

    .numbers-responsive p{
        font-size: 0.82rem;
        font-family: 'Roboto', sans-serif;
        color: #999999;
    }

    .follow:hover{
        cursor: pointer;
    }

    .sections{
        height: 40px;
        width: 100%;
        margin-top: 8px;
    }

    .sections ul li:nth-child(1){
        display: none;
    }

    .sections ul li:nth-child(2){
        display: block;
    }

    .sections ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sections ul li{
        cursor: pointer;
    }

    .sections img{
        width: 26px;
    }

    .pictures{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: center;
    }

    .pictures img{
        width: 32.5%;
        height: auto;
        margin: 1px;
    }


}

@media screen and (max-width: 580px) {


    .nav-search{
        display: none;
    }

    .pictures img{
        margin: 0.5px;
    }
}
